Flask==3.1.2
Werkzeug==3.1.3
Jinja2==3.1.6
click==8.3.0
itsdangerous==2.2.0
MarkupSafe==3.0.3

# Database
psycopg2-binary==2.9.11

# Needed for models
Flask-SQLAlchemy==3.1.1

# Needed for auto DB migrations
Flask-Migrate==4.0.7

# Needed to load .env files
python-dotenv==1.0.1

# Deployment
gunicorn==23.0.0

# Optional but included by Flask
blinker==1.9.0
packaging==25.0
